.button {
    @apply relative inline-flex h-10 cursor-pointer items-center justify-center overflow-hidden rounded-lg px-2 font-medium outline-none after:absolute after:-inset-px after:block after:rounded-inherit after:border-4 after:opacity-0 after:transition-none focus-visible:after:opacity-100 focus-visible:after:transition active:after:opacity-0 enabled:transition;
    &__content {
        @apply relative flex items-center;
    }
}

/* PREDEFINED */
.button_solid {
    @apply border-none enabled:hover:shadow-lg;
    &.is-disabled {
        @apply !bg-foreground/40;
    }
}
.button_outline {
    @apply border-2 enabled:hover:shadow-lg;
    &.is-disabled {
        @apply !border-foreground/40;
    }
}
.button_text {
    @apply enabled:hover:opacity-80;
}
.is-disabled {
    @apply !cursor-not-allowed !text-foreground/50;
}

/* PRIMARY */
.button_theme_primary.button_solid {
    @apply bg-primary text-primary-foreground after:border-primary-foreground/50;
}
.button_theme_primary.button_outline {
    @apply border-primary text-primary;
}
.button_theme_primary.button_text {
    @apply text-primary;
}

/* SECONDARY */
.button_theme_secondary.button_solid {
    @apply bg-secondary text-secondary-foreground;
}
.button_theme_secondary.button_outline {
    @apply border-secondary text-secondary-foreground;
}
.button_theme_secondary.button_text {
    @apply text-secondary-foreground;
}

/* THIRD */
.button_theme_third.button_solid {
    @apply bg-third text-third-foreground;
}
.button_theme_third.button_outline {
    @apply text-third-foreground border-third;
}
.button_theme_third.button_text {
    @apply text-third-foreground;
}

/* SUCCESS */
.button_theme_success.button_solid {
    @apply bg-success dark:text-foreground text-background;
}
.button_theme_success.button_outline {
    @apply text-success border-success;
}
.button_theme_success.button_text {
    @apply text-success;
}

/* DANGER */
.button_theme_danger.button_solid {
    @apply bg-danger dark:text-foreground text-background;
}
.button_theme_danger.button_outline {
    @apply text-danger border-danger;
}
.button_theme_danger.button_text {
    @apply text-danger;
}

/* PULSE ANIMATION */
.button-pulse {
    @apply pointer-events-none absolute inset-0 overflow-hidden rounded-inherit;
    &__effect {
        @apply absolute origin-center rounded-full bg-white bg-opacity-40 will-change-transform after:block after:pt-[100%] after:content-[''];
    }
}
.button-pulse-enter {
    .button-pulse__effect {
        @apply scale-[.25] opacity-100;
    }
}
.button-pulse-enter-active {
    .button-pulse__effect {
        @apply scale-[2] opacity-0;
        transition:
            opacity 0.6s,
            transform 0.6s;
    }
}
