.button {
    @apply relative inline-flex h-10 items-center justify-center overflow-hidden rounded-lg px-2 font-medium outline-none after:absolute after:-inset-px after:block after:rounded-inherit after:border-4 after:opacity-0 after:transition-none focus-visible:after:opacity-100 focus-visible:after:transition active:after:opacity-0;
    &__content {
        @apply relative flex items-center;
    }
}
.button:not(.is-disabled) {
    @apply cursor-pointer transition;
}

.is-disabled {
    @apply cursor-not-allowed text-foreground/50;
    &.button_outline {
        @apply border-accent bg-accent;
    }
    &.button_solid {
        @apply bg-accent;
    }
    a&.button {
        @apply pointer-events-none;
    }
}

/* FILLS */
.button_solid {
    @apply border-none;
    &:not(.is-disabled) {
        @apply hover:shadow-lg;
    }
}
.button_outline {
    @apply border-2;
    &:not(.is-disabled) {
        @apply hover:shadow-lg;
    }
}
.button_text:not(.is-disabled) {
    @apply hover:opacity-80;
}

/* PRIMARY */
.button_theme_primary.button_solid:not(.is-disabled) {
    @apply bg-primary text-primary-foreground after:border-primary-foreground/50;
}
.button_theme_primary.button_outline:not(.is-disabled) {
    @apply border-primary text-primary after:border-secondary;
}
.button_theme_primary.button_text:not(.is-disabled) {
    @apply text-primary after:border-primary;
}

/* SECONDARY */
.button_theme_secondary.button_solid:not(.is-disabled) {
    @apply bg-secondary text-secondary-foreground after:border-secondary-foreground/50;
}
.button_theme_secondary.button_outline:not(.is-disabled) {
    @apply border-secondary text-secondary-foreground after:border-secondary;
}
.button_theme_secondary.button_text:not(.is-disabled) {
    @apply text-secondary-foreground after:border-secondary-foreground;
}

/* ACCENT */
.button_theme_accent.button_solid:not(.is-disabled) {
    @apply bg-accent text-accent-foreground after:border-accent-foreground;
}
.button_theme_accent.button_outline:not(.is-disabled) {
    @apply border-accent text-accent-foreground after:border-accent;
}
.button_theme_accent.button_text:not(.is-disabled) {
    @apply text-accent-foreground after:border-accent-foreground;
}

/* SUCCESS */
.button_theme_success.button_solid:not(.is-disabled) {
    @apply bg-success text-background dark:text-foreground;
}
.button_theme_success.button_outline:not(.is-disabled) {
    @apply border-success text-success after:border-success;
}
.button_theme_success.button_text:not(.is-disabled) {
    @apply text-success after:border-success;
}

/* DANGER */
.button_theme_danger.button_solid:not(.is-disabled) {
    @apply bg-danger text-background dark:text-foreground;
}
.button_theme_danger.button_outline:not(.is-disabled) {
    @apply border-danger text-danger after:border-danger;
}
.button_theme_danger.button_text:not(.is-disabled) {
    @apply text-danger after:border-danger;
}

/* PULSE ANIMATION */
.button-pulse {
    @apply pointer-events-none absolute inset-0 overflow-hidden rounded-inherit;
    &__effect {
        @apply absolute origin-center rounded-full bg-white bg-opacity-40 will-change-transform after:block after:pt-[100%] after:content-[''];
    }
}
.button-pulse-enter {
    .button-pulse__effect {
        @apply scale-[.25] opacity-100;
    }
}
.button-pulse-enter-active {
    .button-pulse__effect {
        @apply scale-[2] opacity-0;
        transition:
            opacity 0.6s,
            transform 0.6s;
    }
}
