.range-target {
    @apply relative z-0;
}
.range-target,
.range-target * {
    @apply block touch-none select-none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.range-base,
.range-connects {
    @apply relative h-full w-full;
}
.range-base {
    @apply bg-ui-base-100 relative rounded before:absolute before:inset-0 before:rounded-inherit before:border before:border-ui-base-200/75;
}
.range-connects {
    @apply overflow-hidden rounded;
}
.range-connect,
.range-origin {
    @apply absolute right-0 top-0 h-full w-full origin-top-left will-change-transform;
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
}
.range-connect {
    @apply bg-primary;
}
.range-handle {
    @apply absolute h-5 w-5 rounded-full bg-primary before:absolute before:-inset-1 before:block before:scale-0 before:rounded-full before:bg-primary/30 before:transition-all after:absolute after:left-1/2 after:top-1/2 after:block after:h-2.5 after:w-2.5 after:-translate-x-1/2 after:-translate-y-1/2 after:rounded-full after:bg-white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.range-target:not([aria-disabled]) .range-handle {
    @apply hover:before:scale-100;
}
.range-handle.range-active {
    @apply before:scale-100;
}
.range-tooltip {
    @apply absolute whitespace-nowrap rounded-md bg-primary p-1.5 text-center text-xs font-medium text-white;
}
.range-touch-area {
    @apply h-full w-full;
}
.range-horizontal {
    @apply w-full;
    .range-base {
        @apply h-1.5;
    }
    .range-handle {
        @apply -right-2.5 -top-2.5 translate-y-[2px];
    }
    .range-origin {
        @apply h-0;
    }
    .range-tooltip {
        @apply bottom-full left-1/2 -translate-x-1/2 -translate-y-2.5 before:absolute before:left-1/2 before:top-full before:block before:-translate-x-1/2 before:border-l-[6px] before:border-r-[6px] before:border-t-[6px] before:border-transparent before:border-t-primary;
    }
}
.range-vertical {
    @apply h-full w-1.5;
    .range-handle {
        @apply -bottom-2.5 -right-2.5 -translate-x-[2px];
    }
    .range-origin {
        @apply -top-full w-0;
    }
    .range-tooltip {
        @apply right-full top-1/2 -translate-x-2.5 -translate-y-1/2;
    }
}
.range-pips {
    @apply relative text-xs text-ui-base-400;
    &-horizontal {
        @apply left-0 top-full h-7 w-full pt-2;
    }
    &-vertical {
        @apply bottom-full left-full h-full pl-2;
    }
}
.range-marker {
    @apply absolute bg-ui-base-300;
}
.range-marker-horizontal {
    &.range-marker {
        @apply -ml-px h-1 w-0.5;
    }
    &.range-marker-sub {
        @apply h-1.5;
    }
    &.range-marker-large {
        @apply h-2;
    }
}
.range-marker-vertical {
    &.range-marker {
        @apply -mt-px h-0.5 w-1;
    }
    &.range-marker-sub {
        @apply w-1.5;
    }
    &.range-marker-large {
        @apply w-2;
    }
}
.range-value {
    @apply absolute whitespace-nowrap text-center;
    &-sub {
        @apply text-[10px] text-ui-base-300;
    }
}
.range-value-horizontal {
    @apply -translate-x-1/2 translate-y-1/2;
}
.range-value-vertical {
    @apply -translate-y-1/2 pl-3;
}
.range-rtl .range-value-vertical {
    @apply translate-y-1/2;
}

.range-state-tap .range-connect,
.range-state-tap .range-origin {
    @apply transition-transform;
}
.range-draggable {
    cursor: ew-resize;
}
.range-vertical .range-draggable {
    cursor: ns-resize;
}
[aria-disabled='true'] {
    &.range-target {
        @apply cursor-not-allowed;
    }
    & .range-connect {
        @apply bg-ui-base-400;
    }
    & .range-handle {
        @apply cursor-not-allowed bg-ui-base-400;
    }
    & .range-tooltip {
        @apply bg-ui-base-400 before:border-t-ui-base-400;
    }
}
