.range-target,
.range-target * {
    @apply touch-none select-none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.range-target {
    @apply relative bg-n-1 rounded before:absolute before:inset-0 before:border before:border-n-2/50 before:rounded-inherit;
}
.range-base,
.range-connects {
    @apply w-full h-full relative;
    z-index: 1;
}
/* Wrapper for all connect elements. */
.range-connects {
    @apply overflow-hidden rounded;
}
.range-connect,
.range-origin {
    @apply absolute top-0 right-0 w-full h-full origin-top-left will-change-transform z-[1];
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
}
.range-connect {
    @apply bg-primary;
}
.range-handle {
    @apply absolute w-5 h-5 rounded-full bg-white border-2 border-primary;
    cursor: default;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.range-tooltip {
    @apply absolute p-1.5 rounded-md bg-primary text-white text-center whitespace-nowrap text-xs font-medium;
}

.range-vertical .range-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}
.range-horizontal .range-origin > .range-tooltip {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    left: auto;
    bottom: 10px;
}
.range-vertical .range-origin > .range-tooltip {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
    top: auto;
    right: 28px;
}

.range-horizontal {
    @apply h-1.5;
    .range-handle {
        @apply -top-2.5 -right-2.5 translate-y-[2px];
    }
    .range-tooltip {
        @apply left-1/2 bottom-full -translate-x-1/2 -translate-y-2.5 before:absolute before:top-full before:left-1/2 before:block before:border-t-[6px] before:border-l-[6px] before:border-r-[6px] before:border-t-primary before:border-transparent before:-translate-x-1/2;
    }
}
.range-vertical {
    @apply w-1.5;
    .range-handle {
        @apply -bottom-2.5 -right-2.5;
    }
}

.range-txt-dir-rtl.range-horizontal .range-origin {
    left: 0;
    right: auto;
}
.range-vertical .range-origin {
    top: -100%;
    width: 0;
}
.range-horizontal .range-origin {
    height: 0;
}
.range-touch-area {
    height: 100%;
    width: 100%;
}
.range-state-tap .range-connect,
.range-state-tap .range-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}
.range-state-drag * {
    cursor: inherit !important;
}
.range-txt-dir-rtl.range-horizontal .range-handle {
    left: -17px;
    right: auto;
}
/* Handles and cursors;
 */
.range-draggable {
    cursor: ew-resize;
}
.range-vertical .range-draggable {
    cursor: ns-resize;
}

.range-active {
    box-shadow:
        inset 0 0 1px #fff,
        inset 0 1px 7px #ddd,
        0 3px 6px -3px #bbb;
}
/* Disabled state;
 */
[disabled] .range-connect {
    background: #b8b8b8;
}
[disabled].range-target,
[disabled].range-handle,
[disabled] .range-handle {
    cursor: not-allowed;
}
/* Base;
 *
 */
.range-pips,
.range-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.range-pips {
    position: absolute;
    color: #999;
}
/* Values;
 *
 */
.range-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}
.range-value-sub {
    color: #ccc;
    font-size: 10px;
}
/* Markings;
 *
 */
.range-marker {
    position: absolute;
    background: #ccc;
}
.range-marker-sub {
    background: #aaa;
}
.range-marker-large {
    background: #aaa;
}
/* Horizontal layout;
 *
 */
.range-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}
.range-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.range-rtl .range-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}
.range-marker-horizontal.range-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}
.range-marker-horizontal.range-marker-sub {
    height: 10px;
}
.range-marker-horizontal.range-marker-large {
    height: 15px;
}
/* Vertical layout;
 *
 */
.range-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}
.range-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-left: 25px;
}
.range-rtl .range-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
.range-marker-vertical.range-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}
.range-marker-vertical.range-marker-sub {
    width: 10px;
}
.range-marker-vertical.range-marker-large {
    width: 15px;
}