.range-target,
.range-target * {
    @apply block touch-none select-none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.range-base,
.range-connects {
    @apply w-full h-full relative z-[1];
}
.range-base {
    @apply relative bg-n-1 rounded before:absolute before:inset-0 before:border before:border-n-2/50 before:rounded-inherit;
}
.range-connects {
    @apply overflow-hidden rounded;
}
.range-connect,
.range-origin {
    @apply absolute top-0 right-0 w-full h-full origin-top-left will-change-transform z-[1];
    -webkit-transform-style: preserve-3d;
    transform-style: flat;
}
.range-connect {
    @apply bg-primary;
}
.range-handle {
    @apply absolute w-5 h-5 rounded-full bg-primary after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:block after:w-2.5 after:h-2.5 after:rounded-full after:bg-white before:absolute before:-inset-1 before:block before:bg-primary/30 before:rounded-full before:transition-all before:scale-0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.range-target:not([aria-disabled]) .range-handle {
    @apply hover:before:scale-100;
}
.range-handle.range-active {
    @apply before:scale-100;
}
.range-tooltip {
    @apply absolute p-1.5 rounded-md bg-primary text-white text-center whitespace-nowrap text-xs font-medium;
}
.range-touch-area {
    @apply w-full h-full;
}
.range-horizontal {
    @apply w-full;
    .range-base {
        @apply h-1.5;
    }
    .range-handle {
        @apply -top-2.5 -right-2.5 translate-y-[2px];
    }
    .range-origin {
        @apply h-0;
    }
    .range-tooltip {
        @apply left-1/2 bottom-full -translate-x-1/2 -translate-y-2.5 before:absolute before:top-full before:left-1/2 before:block before:border-t-[6px] before:border-l-[6px] before:border-r-[6px] before:border-t-primary before:border-transparent before:-translate-x-1/2;
    }
}
.range-vertical {
    @apply h-full w-1.5;
    .range-handle {
        @apply -bottom-2.5 -right-2.5 -translate-x-[2px];
    }
    .range-origin {
        @apply -top-full w-0;
    }
    .range-tooltip {
        @apply top-1/2 right-full -translate-x-2.5 -translate-y-1/2;
    }
}
.range-pips {
    @apply relative text-xs text-n-3;
    &-horizontal {
        @apply top-full left-0 w-full pt-2 h-7;
    }
    &-vertical {
        @apply bottom-full left-full h-full pl-2;
    }
}
.range-marker {
    @apply absolute bg-n-3;
}
.range-marker-horizontal {
    &.range-marker {
        @apply w-0.5 h-1 -ml-px;
    }
    &.range-marker-sub {
        @apply h-1.5;
    }
    &.range-marker-large {
        @apply h-2;
    }
}
.range-marker-vertical {
    &.range-marker {
        @apply w-1 h-0.5 -mt-px;
    }
    &.range-marker-sub {
        @apply w-1.5;
    }
    &.range-marker-large {
        @apply w-2;
    }
}
.range-value {
    @apply absolute whitespace-nowrap text-center;
    &-sub {
        @apply text-n-3/70 text-[10px];
    }
}
.range-value-horizontal {
    @apply -translate-x-1/2 translate-y-1/2;
}
.range-value-vertical {
    @apply pl-3 -translate-y-1/2;
}
.range-rtl .range-value-vertical {
    @apply translate-y-1/2;
}

.range-state-tap .range-connect,
.range-state-tap .range-origin {
    @apply transition-transform;
}
.range-draggable {
    cursor: ew-resize;
}
.range-vertical .range-draggable {
    cursor: ns-resize;
}
[aria-disabled] {
    &.range-target {
        @apply cursor-not-allowed;
    }
    & .range-connect {
        @apply bg-n-4;
    }
    & .range-handle {
        @apply cursor-not-allowed bg-n-4;
    }
    & .range-tooltip {
        @apply bg-n-4 before:border-t-n-4;
    }
}