.field-spacing-x {
    @apply px-3;
}

.field {
    @apply relative;
    &__container {
        @apply relative flex items-center;
    }
    &__label {
        @apply pointer-events-none absolute left-3 top-1/2 max-w-full origin-top-left -translate-y-1/2 transform truncate leading-none text-gray-400 transition dark:text-gray-500;
    }
    input {
        @apply field-spacing-x relative block h-12 w-full resize-none rounded-inherit border-none bg-transparent leading-tight text-gray-500 outline-none dark:text-white;
        &:-webkit-autofill,
        &-internal-autofill-selected {
            background-color: transparent !important;
            box-shadow: inset 0 0 0 28px theme('colors.foreground') !important;
            -webkit-box-shadow: inset 0 0 0 28px theme('colors.foreground') !important;
            -webkit-text-fill-color: theme('colors.black');
            caret-color: theme('colors.black');
            z-index: 0 !important;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type='number'] {
            -moz-appearance: textfield;
        }
    }
    &__error {
        @apply absolute left-1 top-full text-[11px] leading-tight text-danger;
    }
}

/* COMMON STATES */
.field.is-focused {
    .field__label {
        @apply text-blue-500;
    }
}
.field.is-error {
    .field__label {
        @apply text-danger;
    }
}

/* VIEW FILLED */
.field_filled {
    .field__container {
        @apply rounded-lg bg-gray-100 before:absolute before:inset-0 before:block before:rounded-inherit before:border before:border-transparent before:transition dark:bg-gray-700;
    }
    input {
        @apply pb-1.5 pt-3;
    }
}
.field_filled.is-filled,
.field_filled.is-focused {
    .field__label {
        @apply -translate-y-[20px] scale-[0.75];
    }
}
.field_filled.is-focused {
    .field__container {
        @apply before:border-blue-500 before:opacity-100;
    }
}
.field_filled.is-error {
    .field__container {
        @apply before:border-danger;
    }
}

/* VIEW OUTLINED */
.field_outlined {
    .field__fieldset {
        @apply field-spacing-x absolute inset-0 rounded-lg border border-gray-300 transition;
        transition-property: border;
    }
    .field__legend {
        @apply invisible -mx-1 block h-0 max-w-[0.01px] text-xs transition;
        transition-property: max-width, padding;
    }
    .field__legend-text {
        @apply inline-block -translate-y-1/2 whitespace-nowrap px-1 tracking-tight;
    }
}
.field_outlined.is-filled,
.field_outlined.is-focused {
    .field__legend {
        @apply w-auto max-w-full;
    }
    .field__label {
        @apply -translate-y-[30px] scale-75;
    }
}
.field_outlined.is-focused {
    .field__fieldset {
        @apply border-blue-500;
    }
}
.field_outlined.is-error {
    .field__fieldset {
        @apply border-danger;
    }
}

/* VIEW CLEAR */
.field_clear {
    .field__label {
        @apply left-0;
    }
    input {
        @apply px-0 pb-1.5 pt-3;
    }
}
.field_clear.is-filled,
.field_clear.is-focused {
    .field__label {
        @apply -translate-y-[20px] scale-75;
    }
}
