.field-spacing-x {
    @apply px-3;
}

.label-text {
    @apply text-ui-base-400/90;
}

.field {
    @apply relative;
    &__container {
        @apply field-spacing-x relative flex h-12 cursor-text items-center;
    }
    &__label {
        @apply label-text pointer-events-none absolute left-3 top-1/2 max-w-[calc(100%-theme(space.6))] origin-top-left -translate-y-1/2 transform truncate leading-tight ease-in;
        transition-property: color, transform, max-width;
        transition-delay: 0s, 0s, 50ms;
        transition-duration: 150ms, 150ms, 150ms;
    }
    input {
        @apply relative block h-full w-full resize-none rounded-inherit border-none bg-transparent leading-tight text-foreground outline-none transition;
        &:-webkit-autofill,
        &-internal-autofill-selected {
            background-color: transparent !important;
            box-shadow: inset 0 0 0 28px theme('colors.foreground') !important;
            -webkit-box-shadow: inset 0 0 0 28px theme('colors.foreground') !important;
            -webkit-text-fill-color: theme('colors.black');
            caret-color: theme('colors.black');
            z-index: 0 !important;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type='number'] {
            -moz-appearance: textfield;
        }
    }
    &__side {
        @apply label-text relative flex max-h-full flex-shrink-0 items-center leading-tight;
        &_prefix {
            @apply mr-1;
        }
        &_suffix {
            @apply ml-1;
        }
        &_raised {
            @apply translate-y-[5px];
        }
    }
    &__error {
        @apply absolute left-1 top-full text-[11px] leading-tight text-danger;
    }
}

/* COMMON STATES */
.field.is-focused {
    .field__label {
        @apply text-primary;
    }
}
.field.is-error {
    .field__label {
        @apply text-danger;
    }
}
.field.is-disabled {
    @apply text-ui-base-300;
    input {
        @apply text-ui-base-300;
    }
    .field__label {
        @apply text-ui-base-300;
    }
    .field__side {
        @apply text-ui-base-300;
    }
}

/* VIEW FILLED */
.field_filled {
    .field__container {
        @apply bg-ui-base-100 dark:bg-ui-base-800 rounded-lg before:absolute before:inset-0 before:block before:rounded-inherit before:border before:border-transparent before:transition;
    }
    input {
        @apply pb-1 pt-3.5;
    }
}
.field_filled.is-filled,
.field_filled.is-focused {
    .field__label {
        @apply max-w-[calc(125%-theme(space.6))] -translate-y-[20px] scale-75;
    }
}
.field_filled.is-focused:not(.is-disabled) {
    .field__container {
        @apply before:border-primary before:opacity-100;
    }
}
.field_filled.is-error {
    .field__container {
        @apply before:border-danger;
    }
}

/* VIEW OUTLINED */
.field_outlined {
    .field__fieldset {
        @apply field-spacing-x dark:border-ui-base-600 absolute inset-0 min-w-0 rounded-lg border border-ui-base-300 transition;
        transition-property: border;
    }
    .field__legend {
        @apply invisible -mx-1 block h-0 max-w-[0.01px] text-xs transition;
        transition-property: max-width, padding;
    }
    .field__legend-text {
        @apply inline-block -translate-y-1/2 truncate whitespace-nowrap px-1 tracking-tight;
    }
}
.field_outlined.is-filled,
.field_outlined.is-focused {
    .field__legend {
        @apply w-auto max-w-full;
    }
    .field__label {
        @apply max-w-[calc(125%-theme(space.6))] -translate-y-[32px] scale-75;
    }
}
.field_outlined.is-focused {
    .field__fieldset {
        @apply border-primary;
    }
}
.field_outlined.is-error {
    .field__fieldset {
        @apply border-danger;
    }
}
.field_outlined.is-disabled {
    .field__fieldset {
        @apply border-ui-base-200;
    }
}

/* VIEW CLEAR */
.field_clear {
    .field__container {
        @apply px-0;
    }
    .field__label {
        @apply left-0;
    }
    input {
        @apply pb-1 pt-3.5;
    }
}
.field_clear.is-filled,
.field_clear.is-focused {
    .field__label {
        @apply max-w-[calc(125%-theme(space.6))] -translate-y-[20px] scale-75;
    }
}
