@tailwind base;
@tailwind components;
@tailwind utilities;

/*
50: "#EFEFF0",
100: "#E2E2E4",
200: "#C5C5C9",
300: "#A5A5AC",
400: "#888891",
500: "#6C6C75",
600: "#56565D",
700: "#404045",
800: "#2C2C30",
900: "#161618",
*/

@layer base {
    :root {
        --color-background: 254 254 254; /* #FEFEFE */
        --color-foreground: 31 31 32; /* #1F1F20 */
        --color-primary: 15 107 255; /* #0F6BFF */
        --color-primary-foreground: 254 254 254; /* #FEFEFE */
        --color-secondary: 216 231 255; /* #D8E7E7 */
        --color-secondary-foreground: 20 142 255; /* #148EFF */
        --color-third: 229 231 235; /* #E5E7EB */
        --color-third-foreground: 31 31 32; /* #1F1F20 */
        --color-success: 52 188 109; /* #34BC6D */
        --color-danger: 255 78 100; /* #FF4E64 */
        --color-ui-gray: 209 213 219; /* #D1D5DB */
        --color-ui-gray-subtle: 243 244 246; /* #F3F4F6 */
        --color-ui-gray-strong: 157 157 162; /* #9D9DA2 */
        --color-n-1: 244 244 244; /* #F4F4F4 */
        --color-n-2: 232 234 236; /* #E8EAEC */
        --color-n-3: 190 194 201; /* #BEC2C9 */
        --color-n-4: 157 157 162; /* #9D9DA2 */
        --color-n-5: 125 125 129; /* #7D7D81 */
        --color-n-6: 94 94 97; /* #5E5E61 */
        --color-n-7: 62 62 64; /* #3E3E40 */
        --color-n-8: 31 31 32; /* #1F1F20 */
        --color-n-9: 20 23 24; /* #141718 */
    }
    :root[data-mode='dark'] {
        --color-background: 31 31 31; /* #1F1F1F */
        --color-foreground: 254 254 254; /* #FEFEFE */
        --color-primary: 0 132 255; /* #0084FF */
        --color-primary-foreground: 254 254 254; /* #FEFEFE */
        --color-secondary: 36 51 66; /* #243342 */
        --color-secondary-foreground: 20 142 255; /* #148EFF */
        --color-third: 46 46 46; /* #2E2E2E */
        --color-third-foreground: 254 254 254; /* #FEFEFE */
        --color-ui-gray: 209 213 219; /* #D1D5DB */
        --color-ui-gray-subtle: 243 244 246; /* #F3F4F6 */
        --color-ui-gray-strong: 157 157 162; /* #9D9DA2 */
        --color-n-1: 226 226 228; /* #E2E2E4 */
        --color-n-2: 197 197 201; /* #C5C5C9 */
        --color-n-3: 165 165 172; /* #A5A5AC */
        --color-n-4: 136 136 145; /* #888891 */
        --color-n-5: 108 108 117; /* #6C6C75 */
        --color-n-6: 86 86 93; /* #56565D */
        --color-n-7: 64 64 69; /* #404045 */
        --color-n-8: 44 44 48; /* #2C2C30 */
        --color-n-9: 22 22 24; /* #161618 */
    }
}
