@tailwind base;
@tailwind components;
@tailwind utilities;

/*
50: "#EFEFF0",
100: "#E2E2E4",
200: "#C5C5C9",
300: "#A5A5AC",
400: "#888891",
500: "#6C6C75",
600: "#56565D",
700: "#404045",
800: "#2C2C30",
900: "#161618",
*/

@layer base {
    :root {
        --color-background: 254 254 254; /* #FEFEFE */
        --color-foreground: 31 31 32; /* #1F1F20 */
        --color-primary: 15 107 255; /* #0F6BFF */
        --color-primary-foreground: 254 254 254; /* #FEFEFE */
        --color-secondary: 216 231 255; /* #D8E7E7 */
        --color-secondary-foreground: 20 142 255; /* #148EFF */
        --color-third: 229 231 235; /* #E5E7EB */
        --color-third-foreground: 31 31 32; /* #1F1F20 */
        --color-success: 52 188 109; /* #34BC6D */
        --color-danger: 255 78 100; /* #FF4E64 */
        --color-ui-base-100: 244 246 247; /* #F4F6F7 */
        --color-ui-base-200: 232 234 236; /* #E8EAEC */
        --color-ui-base-300: 209 213 219; /* #D1D5DB */
        --color-ui-base-400: 165 171 176; /* #A5ABB0 */
        --color-ui-base-500: 156 156 160; /* #9C9CA0 */
        --color-ui-base-600: 129 131 135; /* #818387 */
        --color-ui-base-700: 102 104 108; /* #66686C */
        --color-ui-base-800: 76 78 82; /* #4C4E52 */
        --color-ui-base-900: 51 52 56; /* #333438 */
    }
    :root[data-mode='dark'] {
        --color-background: 31 31 31; /* #1F1F1F */
        --color-foreground: 226 226 226; /* #E2E2E2 */
        --color-primary: 0 132 255; /* #0084FF */
        --color-primary-foreground: 226 226 226; /* #E2E2E2 */
        --color-secondary: 36 51 66; /* #243342 */
        --color-secondary-foreground: 20 142 255; /* #148EFF */
        --color-third: 46 46 46; /* #2E2E2E */
        --color-third-foreground: 226 226 226; /* #E2E2E2 */
        --color-ui-base-100: 226 226 228; /* #E2E2E4 */
        --color-ui-base-200: 197 197 201; /* #C5C5C9 */
        --color-ui-base-300: 165 165 172; /* #A5A5AC */
        --color-ui-base-400: 136 136 145; /* #888891 */
        --color-ui-base-500: 108 108 117; /* #6C6C75 */
        --color-ui-base-600: 86 86 93; /* #56565D */
        --color-ui-base-700: 64 64 69; /* #404045 */
        --color-ui-base-800: 44 44 48; /* #2C2C30 */
        --color-ui-base-900: 22 22 24; /* #161618 */
    }
}
