.field-spacing-x {
    @apply px-3;
}

.select {
    @apply w-full;
    &-control {
        @apply field-spacing-x border-none;
    }
    &-menu {
        @apply mt-1.5 rounded-lg border border-n-2 bg-white p-2 shadow-lg;
    }
    &-option {
        @apply !cursor-pointer rounded-lg px-2 py-1.5 text-n-4 hover:text-foreground;
        &_selected {
            @apply bg-n-1 text-foreground;
        }
    }
}
