.select {
    @apply static h-full w-full text-foreground;
    &-control {
        @apply static flex h-full flex-wrap items-center justify-between border-none outline-none;
    }
    &-single-value {
        @apply flex h-full items-center;
    }
    &-value {
        @apply absolute inset-0 flex flex-1 items-center overflow-hidden;
        &_indent {
            @apply px-3;
        }
        &_clear {
            @apply px-0;
        }
        &_raised {
            @apply pb-1 pt-3.5;
        }
    }
    &-indicators-container {
        @apply relative ml-auto;
    }
    &-menu {
        @apply dark:border-ui-base-600 left-0 mt-1.5 rounded-lg border border-ui-base-200 bg-background p-2 shadow-lg dark:bg-third;
    }
    &-option {
        @apply !cursor-pointer rounded-lg px-2 py-1.5 text-ui-base-400 hover:text-foreground;
        &_selected {
            @apply dark:bg-ui-base-700 bg-ui-base-100 text-foreground dark:text-foreground/75;
        }
        &_focused {
            @apply text-foreground dark:text-foreground/75;
        }
    }
}

.select-value-container {
    @apply relative grid h-full w-full grid-flow-col overflow-hidden;
    &__multi {
        @apply absolute inset-0 flex items-center;
    }
    &__multi-label {
        @apply truncate;
    }
}
