.select {
    @apply static h-full w-full;
    &-control {
        @apply static flex h-full flex-wrap items-center justify-between border-none outline-none;
    }
    &-value {
        @apply absolute inset-0 grid flex-1 items-center overflow-hidden px-3;
    }
    &-indicators-container {
        @apply relative ml-auto;
    }
    &-menu {
        @apply left-0 mt-1.5 rounded-lg border border-n-2 bg-white p-2 shadow-lg;
    }
    &-option {
        @apply !cursor-pointer rounded-lg px-2 py-1.5 text-n-4 hover:text-foreground;
        &_selected {
            @apply bg-n-1 text-foreground;
        }
        &_focused {
            @apply text-foreground;
        }
    }
    &-input-container {
        grid-area: 1 / 1 / 2 / 3;
    }
}
