.toggle {
    @apply relative inline-flex;
    &__input-container {
        @apply relative h-5 w-5 rounded-md;
    }
    &__input {
        @apply absolute inset-0 z-[1] cursor-pointer appearance-none rounded-inherit outline-none;
        &:checked + .toggle__mark {
            @apply bg-opacity-100 after:border-transparent;
            .toggle__mark-icon {
                @apply opacity-100;
            }
        }
        &:not(:checked):not(:focus-visible) + .toggle__mark {
            @apply after:border-ui-base-300;
        }
        &:focus-visible + .toggle__mark {
            @apply before:opacity-50 before:shadow-[0_0_0_4px_theme('colors.primary')] after:border-transparent after:transition;
        }
    }
    &__input[type='checkbox'] + .toggle__mark {
        @apply rounded-inherit before:rounded-[5px];
        .toggle__mark-icon {
            @apply inset-0 block bg-center bg-no-repeat;
            background-image: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M4.72978 6.52622L9.24399 0L11.2154 1.42857L5.34956 10L0.215432 6.19048L1.59423 4.19684L4.72978 6.52622Z"/></svg>');
        }
    }
    &__input[type='radio'] + .toggle__mark {
        @apply rounded-full before:rounded-full;
        .toggle__mark-icon {
            @apply absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-inherit bg-white;
        }
    }
    &__mark {
        @apply absolute inset-0 bg-primary bg-opacity-0 before:pointer-events-none before:absolute before:inset-px before:transition after:pointer-events-none after:absolute after:inset-0 after:rounded-inherit after:border;
        &-icon {
            @apply absolute opacity-0;
        }
    }
    &__label {
        @apply ml-1 cursor-pointer leading-tight text-foreground;
    }
    &__error {
        @apply absolute left-0 top-full text-[11px] leading-tight text-danger;
    }
}

/* COMMON STATES */
.toggle.is-error:not(.is-disabled) {
    .toggle__mark {
        @apply bg-danger bg-opacity-0;
    }
    .toggle__input {
        &:checked + .toggle__mark {
            @apply bg-opacity-100;
        }
        &:not(:checked):not(:focus-visible) + .toggle__mark {
            @apply after:border-danger;
        }
        &:focus-visible + .toggle__mark {
            @apply before:opacity-80 before:shadow-[0_0_0_4px_theme('colors.danger')];
        }
    }
}
.toggle.is-disabled {
    .toggle__mark {
        @apply bg-ui-base-300;
    }
    .toggle__label {
        @apply cursor-default text-ui-base-300;
    }
    .toggle__input {
        @apply cursor-default;
        &:not(:checked):not(:focus-visible) + .toggle__mark {
            @apply after:border-transparent;
        }
    }
}
