@tailwind components;

@layer components {
    .datepicker-btn-primary {
        @apply bg-gradient-to-b from-primary/75 to-primary text-foreground;
    }
}

.datepicker {
    &__inner {
        @apply flex h-full w-full items-center;
    }
    &__delimiter {
        @apply mx-2 inline-flex items-center;
        &-icon {
            @apply fill-ui-base-300;
        }
    }
    &__suffix {
        @apply relative inline-flex w-4 flex-shrink-0 cursor-pointer items-center justify-center;
    }
    &-calendar {
        @apply fill-ui-base-300;
    }
    &-clear {
        @apply hidden;
        &__icon {
            @apply fill-ui-base-300 transition hover:fill-ui-base-400;
        }
    }
}
.datepicker:hover {
    .datepicker-calendar {
        @apply hidden;
    }
    .datepicker-clear {
        @apply inline-flex;
    }
}

.datepicker-popover {
    @apply rounded-lg border border-ui-base-200 p-0 dark:border-ui-base-600;
    &__buttons-container {
        @apply relative -mt-2 flex justify-end px-4 pb-4;
    }
    &__button {
        @apply datepicker-btn-primary relative w-full rounded px-2.5 py-1 font-medium transition hover:opacity-80;
        &_left {
            @apply mr-2 bg-secondary bg-none text-primary;
        }
    }
}

.calendar {
    @apply relative flex min-w-[272px] flex-col p-4 text-xs;
    &__header {
        @apply mb-2 flex items-center;
    }
    &__header-content {
        @apply flex flex-1 items-center justify-center px-2 text-base font-bold;
    }
    &__arrow {
        @apply relative block h-7 w-7 rounded-md bg-ui-base-100 bg-opacity-0 transition before:absolute before:inset-0 before:bg-center before:bg-no-repeat hover:bg-opacity-100 dark:bg-ui-base-800 dark:bg-opacity-0 dark:hover:bg-opacity-100;
        &::before {
            background-color: currentColor;
            mask-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC41MTYgNy41NDhjMC40MzYtMC40NDYgMS4wNDMtMC40ODEgMS41NzYgMGwzLjkwOCAzLjc0NyAzLjkwOC0zLjc0N2MwLjUzMy0wLjQ4MSAxLjE0MS0wLjQ0NiAxLjU3NCAwIDAuNDM2IDAuNDQ1IDAuNDA4IDEuMTk3IDAgMS42MTUtMC40MDYgMC40MTgtNC42OTUgNC41MDItNC42OTUgNC41MDItMC4yMTcgMC4yMjMtMC41MDIgMC4zMzUtMC43ODcgMC4zMzVzLTAuNTctMC4xMTItMC43ODktMC4zMzVjMCAwLTQuMjg3LTQuMDg0LTQuNjk1LTQuNTAycy0wLjQzNi0xLjE3IDAtMS42MTV6IiAvPjwvc3ZnPg==');
            mask-size: 20px;
            mask-repeat: no-repeat;
            mask-position: center;
            @apply text-foreground;
        }
        &_prev {
            @apply before:rotate-90;
        }
        &_next {
            @apply before:-rotate-90;
        }
    }
    &__period {
        @apply inline-flex h-7 items-center px-1 transition hover:opacity-70;
    }
    &__content {
        @apply flex flex-col;
    }
    &__week {
        @apply mb-2 grid grid-cols-7 items-center justify-items-center;
    }
    &__weekday {
        @apply inline-flex w-7 items-center justify-center text-ui-base-400;
        &[data-vc-week-day-off] {
            @apply text-danger;
        }
    }
    &__dates {
        @apply grid grid-cols-7 items-center justify-center;
    }
    &__date {
        @apply relative my-0.5 max-h-12 w-full overflow-hidden rounded-lg py-0 after:block after:pb-[100%];
        &[data-vc-date-weekend] .calendar__date-btn {
            @apply text-danger;
        }
        &[data-vc-date-today]:not([data-vc-date-selected]) .calendar__date-btn {
            @apply before:absolute before:right-1 before:top-1/2 before:block before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:bg-primary;
        }
        &[data-vc-date-selected]:not([data-vc-date-selected='middle']) .calendar__date-btn {
            @apply datepicker-btn-primary;
        }
        &[data-vc-date-selected='first'] {
            @apply rounded-r-none;
        }
        &[data-vc-date-selected='middle'] {
            @apply rounded-none;
            .calendar__date-btn {
                @apply border-y-2 border-primary/30 bg-primary/10;
            }
        }
        &[data-vc-date-selected='middle'][data-vc-date-weekend] .calendar__date-btn {
            @apply text-danger;
        }
        &[data-vc-date-selected='last'] {
            @apply rounded-l-none;
        }
    }
    &__date-btn {
        @apply absolute inset-0 font-medium text-foreground transition hover:bg-ui-base-100 dark:hover:bg-ui-base-800;
    }
    &__time {
        @apply mt-3 flex items-center border-t border-ui-base-300 pt-3;
    }
    &__time-content {
        @apply flex items-center justify-center;
    }
    &__time-item {
        @apply relative w-8 pr-px;
        & input {
            @apply block w-full p-0.5 text-base font-bold dark:bg-background;
        }
    }
    &__time-hour {
        @apply ml-10 mr-2 before:absolute before:-left-10 before:top-1/2 before:block before:-translate-y-1/2 before:text-sm before:text-ui-base-400 before:content-['Time:'] after:absolute after:left-full after:top-1/2 after:-translate-y-1/2 after:font-bold after:content-[':'];
    }
    &__time-ranges {
        @apply hidden;
    }
    &__months {
        @apply grid grid-cols-4 items-center gap-2;
    }
    &__years {
        @apply grid grid-cols-3 items-center gap-2;
    }
    &__period-item {
        @apply flex h-10 items-center justify-center rounded text-sm font-medium transition hover:bg-ui-base-100 dark:hover:bg-ui-base-800;
        &[data-vc-months-month-selected] {
            @apply datepicker-btn-primary;
        }
        &[data-vc-years-year-selected] {
            @apply datepicker-btn-primary;
        }
    }
}
