.tooltip {
    @apply z-50;
    &__content {
        @apply p-1.5;
    }
}

.tooltip_main {
    @apply rounded-md text-xs;
}

.tooltip_hidden {
    @apply hidden;
}

.tooltip_closed {
    @apply pointer-events-none hidden opacity-0;
}

/* PRIMARY */
.tooltip_primary {
    @apply bg-foreground text-background;
    .tooltip__arrow {
        @apply fill-foreground;
    }
}

/* PRIMARY_INVERT */
.tooltip_primary-invert {
    @apply bg-background text-foreground shadow-sm;
    .tooltip__arrow {
        @apply fill-background drop-shadow-sm;
    }
}

.tooltip-trigger {
    @apply inline-block cursor-pointer;
}

.tooltip-btn {
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full bg-ui-base-300 text-xs font-medium text-foreground transition hover:bg-primary;
}
